body{
    background: hsla(129, 19%, 86%, 0.377);
}
h1{
    text-align: center;
    font-size: 50px;
}
p{
    font-size: 40px;
    font-style: oblique;
    background-color: hwb(0 73% 4%);

}
  nav ul li{
    display: block;
    background-color: #ee0606;
    
    font-size: 35px;

}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    margin: 10px;
    padding: 5px;
    float: left;
    width: 300px;
    height: 50px;
    
    line-height: 50px;
    text-align: center;
}
nav ul li a{
    display: block;
}
nav ul li a:hover{
    background-color: blanchedalmond;
    opacity: 8px;
}


    